footer {
  font-size: 70%;
  max-width: fit-content;
  display: flex;
  padding: 0 0.5rem;
  flex-flow: column;
  gap: 0.3rem;

  p {
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 0;

    span {
      background-color: azure;
      padding: 3px;
    }
  }
}
