.pre-start-view {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;

  .command-list-container {
    font-size: 0.8rem;
    background-color: #fff;

    &.nes-container {
      padding: {
        left: 1rem;
        right: 1rem;
      }
    }

    .nes-list {
      padding: 0;

      li {
        text-align: left;
        margin-bottom: 0.5rem;

        &.command-item {
          img {
            width: 2.5rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 2rem;
  }
}
