.container {
  position: relative;

  .grid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    position: relative;
    backdrop-filter: blur(1px);
    border: 4px solid #064863;
    margin: 0 auto;
    padding: 1px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 10;
      background-color: #149cc94b;
    }

    .row {
      display: flex;

      .cell {
        flex: 1;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}
