.game-grid {
  position: relative;

  .grid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    position: relative;
    backdrop-filter: blur(1px);
    // border: 4px solid #064863;
    margin: 0 auto;
    padding: 1px;

    &.nes-container.is-rounded {
      margin: inherit;
    }

    &::after {
      @media only screen and (min-width: #{screenBreakpoints('tabletMin')}) {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background-color: #149cc94b;
      }
    }

    .row {
      display: flex;

      .cell {
        flex: 1;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}


@media only screen and (max-width: #{screenBreakpoints('mobileMax')}) {
  .game-grid {
    .grid {
       &::after {
        background-color: transparent;
       }
    }
  }
}