.game-options-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-options-dialog {
  display: block;
  width: 90%;
  max-width: 30rem !important;
  text-align: center;
  background-color: #fff !important;
  margin:0;

  & > h2.title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .score {
    margin: 1rem 0;
    background-color: #fff;
  }

  .nes-badge > span {
    left: 0;
  }

  .menu {
    background-color: #fff;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          display: flex;
          justify-content: center;
          padding: 0.5rem;
          gap: 0.5rem;
          align-items: center;
          position: relative;
          text-decoration: none;

          &:focus {
            background-color: #0056b3;
            color: #fff;
            outline: none;

            &::before {
              content: ">";
              animation: blink 0.5s alternate infinite;
              position: absolute;
              left: 0.5rem;
            }
          }
        }
      }
    }
  }

  .blink {
    animation: blink 0.5s alternate infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
