.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;

  .background {
    background-image: url(#{$background-image});
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    animation: moving-bg 640s linear infinite;

    &.top {
      width: 200%;
      flex: 2;
    }

    &.bottom {
      background-attachment: fixed;
      background-position: bottom;
      height: 22vh;      
      width: 100%;
      background-position-x: center;
      animation: none;
    }
  }
}

@keyframes moving-bg {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}
