.nes-container {
  width: fit-content;
  background-color: #ffffff;
}

.game-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "board scoreboard"
    "board scoreboard"
    "controls scoreboard";

  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .game-board-container {
    grid-area: board;
  }

  .game-controls-container {
    grid-area: controls;
  }

  .game-scoreboard-container {
    grid-area: scoreboard;
  }
}